<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Totally Real Facts</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <p>Totally Real Facts</p>
      <nav>
        <ul>
          <li class="nav-link"><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>{{ .Title }}</h1>
      <h2>{{ .Subtitle }}</h2>
      <!-- TODO: Add Dynamic Fake Author -->
      <h3>By Real Authorington</h3>
      <time datetime={{ .Date.Format "2006-1-2"}}>{{ .Date.Format "January 2, 2006" }}</time>
      <article>
        <section>
          <p>Claim: {{ .Claim.Question }}</p>
          <p>Rating: {{ .Claim.Rating }}</p>
          {{ if .Claim.Context }}
          <p>Context: {{ .Claim.Context }}</p>
          {{ end }}
        </section>
        {{ range .Content }}
        <p>{{ . }}</p>
        {{ end }}
      </article>
    </main>
  </body>
</html>