<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TotallyRealFacts</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <h1>TotallyRealFacts</h1>
    </header>
    <main>
      <section class="header-title-container">
        <h1>{{.Title}}</h1>
        <h2>{{.Subtitle}}</h2>
        <div class="author-date-container">
          <h3>By Real Authorington</h3>
          <h2>{{.Date}}</h2>
        </div>
      </section>
      <article>
        <section class="claim-and-rating">
          <div class="claim-content-container">
            <div class="label-wrapper">Claim:</div>
            <div class="claim-text">{{.Claim.Question}}</h3>
          </div>
          <div class="claim-rating-container">
            <div class="label-wrapper">Rating:</div>
            <div class="rating-text">{{.Claim.Rating}}</div>
          </div>
          {{if .Claim.Context}}
          <div class="claim-context-container">
            <span>Context:</span>
            <p>{{.Claim.Context}}</p>
          </div>
          {{end}}
        </section>
        <p>
          {{.Content}}
        </p>
      </article>
    </main>
  </body>
</html>